<!-- ? ========================================== Products ========================================== -->

<!-- ? ===================== Main Slider ===================== -->

<section class="grid md:grid-cols-[70%_minmax(0,1fr)] gap-6 w-[90%] mx-auto my-8">
  <div class="rounded-xl overflow-hidden shadow">
    <owl-carousel-o [options]="mainSliderOptions">
      <ng-template carouselSlide>
        <img [src]="myProducts[18].image" class="w-full h-[300px] object-contain rounded-xl" alt="Slider 1">
      </ng-template>
      <ng-template carouselSlide>
        <img [src]="myProducts[17].image" class="w-full h-[300px] object-contain rounded-xl" alt="Slider 2">
      </ng-template>
      <ng-template carouselSlide>
        <img [src]="myProducts[16].image" class="w-full h-[300px] object-contain rounded-xl" alt="Slider 3">
      </ng-template>
    </owl-carousel-o>
  </div>

  <!-- ? Side Info Cards -->
  <div class="hidden md:flex flex-col gap-4">
    <!-- ? Card 1 -->
    <div class="bg-white border border-gray-200 text-gray-800 p-6 rounded-2xl shadow hover:shadow-md transition">
      <h3 class="text-2xl font-bold mb-2 text-blue-600">Big Summer Sale</h3>
      <p class="mb-4 text-sm text-gray-600">Get up to 50% off selected productegories.</p>
      <button class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-600 transition">
        Shop Now
      </button>
    </div>

    <!-- ? Card 2 -->
    <div class="bg-white border border-gray-200 text-gray-800 p-6 rounded-2xl shadow hover:shadow-md transition">
      <h3 class="text-2xl font-bold mb-2 text-blue-600">New Arrivals</h3>
      <p class="mb-4 text-sm text-gray-600">Check out the latest products in store.</p>
      <button class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-600 transition">
        Explore
      </button>
    </div>
  </div>
</section>

<!-- ? ===================== Popular Products Slider ===================== -->

<section>
  <div class="home-content">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Popular Products</h2>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

      <!-- ? =============== Card =============== -->

      @for (product of myProducts.slice(2,6); track product.id) {
      <div
        class="group bg-white rounded-3xl border border-gray-300 shadow-sm hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 flex flex-col overflow-hidden">

        <!-- ? Product Image -->
        <div class="bg-white p-4 overflow-hidden flex items-center justify-center">
          <img [src]="product.image" alt="product"
            class="w-full h-[250px] object-contain group-hover:scale-105 transition-transform duration-300" />
        </div>

        <!-- ? Product Info -->
        <div class="flex-1 flex flex-col justify-between p-5">
          <div class="mb-4">
            <span
              class="inline-block font-semibold text-blue-600 bg-blue-100 text-xs uppercase rounded-full px-3 py-1 mb-2">{{
              product.title
              }}</span>
            <h3 class="text-lg font-bold text-gray-800 trunproducte px-1">
              {{ product.title.split(' ', 2).join(' ') }}
            </h3>
          </div>

          <div class="flex justify-between items-center text-sm text-gray-600">
            <span class="text-base text-gray-800 font-semibold">{{ product.price }} EGP</span>
          </div>
        </div>

        <!-- ? Add to Cart Button -->
        <div class="p-5 pt-0">
          <button
            class="w-full py-2 rounded-xl bg-blue-600 text-white font-semibold shadow-md transition-colors duration-300 ease-in-out hover:bg-blue-700 hover:shadow-lg">
            Add to Cart
          </button>
        </div>
      </div>
      }

    </div>
  </div>
</section>